DATABASE_URL="postgresql://postgres.qhzfmnuchlogokxywzjh:wd8Im8AkthC5recY@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.qhzfmnuchlogokxywzjh:wd8Im8AkthC5recY@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
SESSION_SECRET="35437964651686768445415486464646868765163584686846876116786"
ADMIN_EMAIL="wess.c@proton.me"
ADMIN_PASSWORD="WessYung2001!!"