DATABASE_URL="postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
SESSION_SECRET="troque-por-um-segredo-com-pelo-menos-32-caracteres"
ADMIN_EMAIL="seu-email@exemplo.com"
ADMIN_PASSWORD="troque-por-uma-senha-forte-com-8-caracteres"
